.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.card-container{
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}
.pie-chart{
    display: flex;
    justify-content: center;
}